# IDE
**/.history/
**/.vscode/
**/.idea/

# OSX
.DS_Store

# Move build directory
build

# Node.js
node_modules

# misc
.env

# logs
*.log
/logs

# test traces
packages/deeptrade-core/traces/

# Sample audit reports
audit-reports/

# meta docs
text_docs/

# Test files
*.mvcov
.trace